/************************************************** 
** All the Fonts 
***************************************************/
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

/************************************************** 
** Generic section css
***************************************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Graduate', cursive;
}

/************************************************** 
** Generic Container css
***************************************************/

.container {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
section {
	padding: 60px 0;
}
/************************************************** 
** header section css
***************************************************/
.header-section {
	background: #2d25a0;
}

/************************************************** 
** welcome section css
***************************************************/
.welcome {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.welcome-details {
	width: 50%;
}

.welcome-details h1 {
	font-size: 64px;
	line-height: 80px;
	color: #ffffff;
	font-weight: 700;
	width: 480px;
}

.btn-watch {
	display: inline-block;
	padding: 20px 30px;
	font-size: 1.5em;
	border-radius: 3px;
	position: relative;
	z-index: 1;
	text-decoration: none;
	background-color: crimson;
	color: white;
	margin-top: 30px;
	overflow: hidden;
	cursor: pointer;
}
.btn-watch::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	right: 0;
	bottom: 50%;
	z-index: -1;
	background-color: skyblue;
	transform: rotate(45deg);
	transition: 0.6s ease-in-out;
}

.btn-watch:hover::before {
	transition: 0.6 ease-in-out;
	left: 0;
	top: -150%;
	bottom: -150%;
	right: 0;
	z-index: -1;
	opacity: 1;
}

.welcome-details a i {
	margin-left: 10px;
}

.welcome-banner {
	width: 50%;
	text-align: center;
}

.welcome-banner img {
	width: 100%;
	text-align: center;
}

.welcome:hover .welcome-banner img {
	margin: 0 auto;
	transition: 0.5s;
	animation-name: stretch;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}

@keyframes stretch {
	0% {
		transform: scale(0.4);
	}
	100% {
		transform: scale(1.2);
	}
}

/************Welcomesection css end ***************/

/************************************************** 
** Player's details section css
***************************************************/

.player-details {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

.player-info .player-name {
	font-size: 28px;
	margin: 10px 0px;
	font-weight: 700;
}
.player-info .about-player {
	line-height: 26px;
	margin: 10px 0px;
	text-align: justify;
}
.player-image img {
	width: 100%;
}

/************Player section css end ***************/

/************************************************** 
** Highlights details section css start
***************************************************/

.all-highlights {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 69px;
}

.highlights-title {
	font-size: 48px;
	font-weight: 700;
	line-height: 60px;
}

.highlights-description {
	font-size: 16px;
	line-height: 28px;
}

/* .highlights-details a {
	display: inline-block;
	width: 250px;
	height: 50px;
	background: #e02c6d;
	padding: 10px 24px;
	margin-top: 27px;
	border-radius: 5px;
	list-style: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	transition: all 0.35s;
}

.highlights-details a:hover {
	width: 200px;
	border: 3px solid #2ecc71;
	background: transparent;
	color: #2ecc71;
} */

.highlights-details a i {
	margin-left: 10px;
}

.highlights-banner img {
	width: 100%;
}

/************Highlight section css end ***************/

/************************************************** 
** Jersey section css start
***************************************************/
.jerseys {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
}

.jersey-section-title {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	line-height: 60px;
	margin: 10px 0px;
}

.club-details {
	line-height: 26px;
	margin: 10px 0px;
	text-align: justify;
}
.jersey {
	padding: 15px;
}
.club-jersey-img img {
	width: 100%;
	height: 550px;
}

/************Jersey section css end ***************/

/************************************************** 
** Footer section css start
***************************************************/
.footer-details {
	text-align: center;
}

.footer-img img {
	width: 35%;
}

.footer-social-details a {
	height: 32px;
	width: 32px;
	line-height: 32px;
	display: inline-block;
	border-radius: 50%;
	color: #9d9fa3;
	background-color: #eaebee;
}

.footer-social-details a:hover {
	color: red;
}

.copy-rights p {
	margin-top: 20px;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 50px;
}

/************Footer section css end ***************/

/************************************************** 
** Ranking section css start
***************************************************/
.ranking-title {
	text-align: center;
	font-size: 50px;
	background: #2d25a0;
	color: #ffffff;
	padding: 3%;
	font-weight: 700;
	margin-bottom: 20px;
	border-radius: 5px;
}

.ranking-table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
		rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
	border-radius: 50px;
	border-radius: 10px;
}

.ranking-table thead tr th {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.35px;
	padding: 12px;
	vertical-align: top;
}

.ranking-table tbody tr td {
	font-size: 18px;
	letter-spacing: 0.35px;
	font-weight: 500;
	padding: 8px;
	text-align: center;
}

/************************************************** 
** Ranking section css end
***************************************************/
